<div class="maincontent" [class.shifted]="isSidebarOpen">
  <div class="product-grid">
    <div class="product-card" *ngFor="let product of products">
      <div class="image-wrapper">
        <img [src]="product.url" class="product-img" />
      
      <!-- Ribbon diagonal --> 
       <div class="ribbon" *ngIf="product.soldOut"> SOLD OUT </div>
      </div>

      <h3 class="product-title">{{ product.name }}</h3>
      <p class="product-price">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>

      <!-- Contador de stock --> 
       <p class="stock" [ngClass]="{ 'low-stock': product.instock !== undefined && product.instock <= 3 }"> Stock: {{ product.instock }} </p>

      <div class="product-actions">
        <button class="btn-description" (click)="openModal(product)" [disabled]="product.soldOut">
          Cotizar este producto
        </button>

        <button class="btn-cart" 
                [disabled]="product.soldOut || product.instock === 0"
                (click)="addToCart(product)">
          Agregar al carrito
        </button>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal-backdrop" *ngIf="selectedProduct">
    <div class="modal-content premium-modal">

      <!-- Header del producto -->
      <h2 class="modal-title">{{ selectedProduct.name }}</h2>

      <!-- Imagen con zoom -->
      <div class="zoom-container" [class.zoomed]="zoomed" (mousedown)="startPan($event)" (mousemove)="panImage($event)"
        (mouseup)="endPan()" (mouseleave)="endPan()" (click)="toggleZoom()">
        <img [src]="selectedProduct.url" class="modal-img" [style.transform]="transform" />
      </div>


      <!-- Cantidad -->
      <div class="pquantity">
        <button class="qty-btn" (click)="qty(selectedProduct, 'less')">−</button>

        <input type="number" [(ngModel)]="selectedProduct.quantity" class="qty-input" min="1" />

        <button class="qty-btn" (click)="qty(selectedProduct, 'plus')">+</button>
      </div>

      <!-- Descripción -->
      <p class="modal-description">
        {{ selectedProduct.description }}
      </p>

      <!-- Botón agregar al carrito -->
      <!-- <button class="btn-cart"> 🏷️ Cotizar este producto </button> -->
      <button class="btn-cart"> <i class="fa-solid fa-tag"></i> Cotizar este producto </button>
      <!-- Botón cerrar -->
      <button class="btn-close" (click)="closeModal()">Cerrar</button>

    </div>
  </div>

</div>