<div class="maincontent" [class.shifted]="isSidebarOpen">
  <div class="banner-wrapper" [class.banner-shift]="isSidebarOpen">
    <header class="banner-header"  [class.header-shifted]="isSidebarOpen">
      <!-- CENTER: title -->
      <div class="logo-section">
      <h1 class="shop-name">Decoraciones Elena</h1>
      <p class="shop-description">Tu tienda de decoración floral en línea</p>
      </div>
      <!-- RIGHT: cart -->
      <div class="cart-icon"> 
        <i class="fas fa-shopping-cart"> </i> 
        <span class="cart-bubble">0</span> 
      </div>
      
    </header>
  </div>
</div>