<div class="sidebar" [class.shifted]="isSidebarOpen">
  <div class="sidebar-header">
    <!-- <h1>Hawk-Market</h1> -->
    <Label class="menuHeader" >Menu</Label>
    <!-- <button class="btn btn-outline-success" (click)="toggleSidebar()">☰</button> -->
    <button (click)="toggleSidebar()" class="btn btn-outline-success outlinesuccess"> <i class="fas fa-bars"></i> </button>

  </div>
  <ul class="sidebar-menu" >

    <li class="liz1">
      <a routerLink="/home">
        <i class="fas fa-tachometer-alt"></i> Dashboard
      </a>
    </li>
    <li class="liz1">
      <a routerLink="/about">
        <i class="fas fa-cash-register"></i> POS
      </a>
    </li>
    <li class="liz1">
      <a routerLink="/contact">
        <i class="fas fa-boxes-stacked"></i> Inventory
      </a>
    </li>
    <li class="liz1">
      <a routerLink="/contact">
        <i class="fas fa-receipt"></i> Orders
      </a>
    </li>
    <li class="liz1">
      <a routerLink="/contact">
        <i class="fas fa-truck-loading"></i> Load Orders
      </a>
    </li>
    <li class="liz1">
      <a routerLink="/contact">
        <i class="fas fa-sliders-h"></i> Adjustments
      </a>
    </li>
    <li class="liz1">
      <a (click)="toggleCatalog()">
        <i class="fas fa-book-open"></i> Catalogs
        <i class="fas fa-chevron-down arrow" [class.open]="catalogOpen"></i>
      </a>
    
      <ul class="submenu" *ngIf="catalogOpen">
        <li class="liz"><a routerLink="/catalog/roses">🌹 Rose Bouquets</a></li>
        <li class="liz"><a routerLink="/catalog/chocolates">🍫 Chocolates</a></li>
        <li class="liz"><a routerLink="/catalog/bears">🧸 Bears with Candy</a></li>
        <li class="liz"><a routerLink="/catalog/seasonal">⭐ Seasonal Gifts</a></li>
      </ul>
    </li>

  </ul>
</div>
