<div class="sidebar" [class.shifted]="!isSidebarOpen">
  <div class="sidebar-header">
    <Label class="menuHeader">Menu</Label>
    <button (click)="toggleSidebar()" class="btn btn-outline-success outlinesuccess">
      <i class="fas fa-bars"></i>
    </button>
  </div>

  <ul class="sidebar-menu">

    <li class="liz1">
      <a (click)="toggleCatalog()">
        <i class="fas fa-book-open"></i> Catalogs
        <i class="fas fa-chevron-down arrow" [class.open]="catalogOpen"></i>
      </a>

      <ul class="submenu" *ngIf="catalogOpen">

        <!-- CATALOGO GENERAL -->
        <li class="liz" routerLinkActive="active-li">
          <a routerLink="/products" class="menu-item">🌹 Valentine Day</a>
        </li>

        <!-- HOME -->
        <li class="liz" routerLinkActive="active-li">
          <a routerLink="/home" class="menu-item">  Mother's Day</a>
        </li>

        <!-- "Cart" -->
        <li class="liz" routerLinkActive="active-li">
          <a routerLink="/cart" class="menu-item">  Cart</a>
        </li>

      </ul>
    </li>

  </ul>
</div>
